body {
  background-color: #a1cca3;
}
.column-picture {
  width: 500px;
}
h2 { 
  text-align: left;
}
h3 {
  text-align: left;
}
h4 {
  text-align: left;
}
li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

