body{ 
			background-image: url('color.jpg');
			}
		img {
			width:310px;
		
		header  {
			background-color: #a1cca3;
				}
		header h2 {
			color: #fff;
			margin: 0;
			padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
			text-align: center;


			ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-right: 10px; 
}
.column-picture {
  width: 300px;
}
h2 { 
  text-align: left;
}
h3 {
  text-align: left;
}
h4 {
  text-align: left;
}

		ul {
			
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a1cca3;
  text-align: right;
  
}

li {
  float: right;
  text-align: right;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
border-radius: 50%;
}
.fa-instagram {
  background: #d62976;
  color: orange;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
}
footer  {
			background-color: #a1cca3;
				}
	footer p {
			color: #fff;
			margin: 0;
			padding-top: 5px;
   
					}
